/ {
	chosen {
		/* Debug console on USART3 (PB10=TX, PB11=RX), separate from UART Hub */
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;
	};
};

/* USART2: inter-board communication via Renode UART Hub (PA2=TX, PA3=RX) */
&usart2 {
	status = "okay";
	current-speed = <115200>;
};

/* USART3: debug console / printk output (PB10=TX, PB11=RX) */
&usart3 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb11>;
	pinctrl-names = "default";
};

/* Mode indicator LEDs on PB12/PB13/PB14 */
/ {
	mode_leds {
		compatible = "gpio-leds";
		mode_led0: mode_led0 { gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>; };
		mode_led1: mode_led1 { gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>; };
		mode_led2: mode_led2 { gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>; };
	};
	aliases {
		mode-led0 = &mode_led0;
		mode-led1 = &mode_led1;
		mode-led2 = &mode_led2;
	};
};
